<div class="editor-button">
    <button class="button button-alt" ng-click="drawEditor($event)"><i class="fa fa-file-word-o"></i>&nbsp;Write new article</button>
</div>
<article ng-repeat="post in posts | orderBy: id: true">
    <header>
        <h2 ng-bind="post.header"
            ng-init="minimized[$index] = true"
            ng-click="minimized[$index] = !minimized[$index]"
            title="Show full"></h2>
    </header>
    <div class="content"
         ng-bind-html="trustAsHtml(post.article)"
         ng-class="minimized[$index] ? 'minimized' : ''"></div>
    <footer class="clearfix">
        <ul class="clearfix">
            <li>Author: {{post.author}}</li>
            <li>Created: {{post.createdAt | date: 'd-M-yyyy, HH:mm'}}</li>
            <li>Updated: {{post.updatedAt | date: 'd-M-yyyy, HH:mm'}}</li>
        </ul>
    </footer>
    <ul class="buttons">
        <li title="Edit"><i class="fa fa-pencil"></i></li>
        <li title="Delete" ng-click="removePost(post, $index)"><i class="fa fa-trash-o"></i></li>
    </ul>
</article>
